h2 {
    color: var(--primary);
    font-size: 2.4rem;
    font-weight: 700;
}
.cart-items {
    padding-bottom: 32px;
    border-bottom: 4px dashed #ddd;
    overflow: auto;
    height: calc(100vh - 276px);
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        font-weight: 700;
        .cart-item-img {
            position: relative;
            width: 160px;
            height: 160px;
            padding: 4px;
            img {
                width: 160px;
                height: 160px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                border-radius: 20px;
            }
            span {
                position: absolute;
                color: #fff;
                width: 28px;
                height: 28px;
                text-align: center;
                line-height: 28px;
                background-color: var(--primary);
                border-radius: 50%;
                right: -12px;
                top: -12px;
            }
        }
        .cart-item-infor {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    margin: 20px 0;
    h3 {
        font-weight: 700;
        font-size: 2rem;
    }
    p {
        font-size: 2.4rem;
        color: var(--primary);
    }
}
