.box {
    padding: 12px; 
    background-color: #fff; 
    border-radius: 12px; 
    margin-left: 12px; 
    width: 100%; 
    border: 1px solid #ccc; 
    margin-bottom: 24px; 
    .container-heading {
        margin-top: 30px;
    }
    .chart {
        margin-top: 50px;
    }
}

