.order-approval-item {
    display: flex;  
    align-items: center;  
    justify-content: space-between; 
    padding: 20px 0 ; 
    border-bottom: 4px dashed #ddd;
    h3, p{
        font-weight: 600;
    }
    img {
        width: 60px; 
        height: 60px; 
        border-radius: 50%;
    }
}