.header {
    display: flex;
    align-items: center; 
    border: 1px solid #ddd; 
    .header-image { 
        margin-right: 10px;
        img {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            border: 1px solid #ccc;
            padding: 2px;
        }
    }
    h3 {
        font-weight: 700;
        font-size: 16px;
    }
}
