.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    .search {
        width: 80%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .info-admin {
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
        cursor: pointer;
        position: relative; 
        .info-admin-box { 
            display: flex; 
            align-items: center;  

            img {
                width: 40px;
                height: 40px;
                margin-right: 8px;
                margin-left: 40px;
                border-radius: 50%;
            }
            span {
                font-weight: 600; 
                display: -webkit-box; 
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
        }

        .dropdown {
            position: absolute;
            top: 52px;
            right: 0;
            width: 200px;
            border: 1px solid #ddd;
            background-color: #fff; 
            z-index: 100;
            border-radius: 8px;
            &::after {
                content: '';
                position: absolute;
                background-color: transparent;
                width: 100%;
                height: 20px;
                top: -20px;
                z-index: 1;
            }
            &::before {
                content: '';
                position: absolute;
                background-color: transparent;
                width: 0;
                height: 0;
                top: -8px;
                right: 80px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #000;
                z-index: 1;
            }
            ul {
                padding: 0 12px;
                list-style: none; 
                a,
                button {
                    display: flex;
                    align-items: center;
                    padding: 12px 0;
                    border-bottom: 3px dashed #ddd;
                    background: none;
                    width: 100%;
                    svg {
                        margin-right: 8px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                }
                button {
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
