.news-title { 
    margin-bottom: 24px;
    h3 {
        position: relative;
        font-size: 30px;
        margin: 0;
        padding-bottom: 15px;
        text-transform: none;
        border-bottom: 1px solid #ebebeb;
        font-weight: bolder;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd; 
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            width: 75%;
            height: 4px;
            background: #4d8a54;
            bottom: 0;
            left: 0;
        }
    }
}
