.title-footer { 
    margin-bottom: 25px;
    h4 {
        cursor: default;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        display: block;
        color: #4d8a54; 
        text-transform: uppercase; 
        text-align: left; 
    }
}
