.dashboard-approval {
    width: 30%;
    padding: 12px;
    background-color: #fff;
    padding: 12px;
    border-radius: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-weight: 600;
    color: #fff;
    .container-heading {
        padding-top: 40px;
    }
    .chart { 
        margin-top: 30px;
    }
}


