.box {
    background-color: #fff; 
    padding: 12px; 
    border-radius: 12px; 
    border: 1px solid #ccc;  
    .container-heading {
        margin-top: 30px;
    }
    .chart {
        margin-top: 20px;
    }  
    .select-year {
        display: flex; 
        align-items: center; 
        p {
            margin-right: 12px; 
            margin-bottom: 0; 
            font-weight: 600;
        }
    }
}