.category-item {
    display: flex;
    align-items: center;
    padding: 20px; 
    border-radius: 20px; 
    margin-bottom: 12px;
    &.active {
        background-color: var(--primary); 
        opacity: 0.9;
        cursor: pointer;
    }
    &:hover {
        background-color: var(--primary); 
        opacity: 0.9;
        cursor: pointer;
    }

    .category-icon {
        margin-right: 20px; 
    }

    p {
        margin-bottom: 0;
        font-size: 2rem; 
        font-weight: 600;
    }
}
