.about-me {
    background-image: url('https://bizweb.dktcdn.net/100/415/010/themes/894852/assets/bg_why.jpg?1676274744913');
    padding: 90px 0 150px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-bottom: 90px;
    .infor {
        p {
            margin-top: 25px;
            margin-bottom: 50px;
            font-size: 18px;
            font-weight: 600;
        } 
    }
}
