.order-appoval {
    height: 78vh; 
    width: 70%;  
    padding: 12px; 
    border-radius: 20px;  
    margin-right: 20px;
    border: 1px solid #ccc; 
    background-color: #fff;
    .container-heading {
        padding-top: 40px;
    }
}