.order-appoval {
    height: 80vh; 
    width: 70%;  
    padding: 12px; 
    border-radius: 20px; 
    border: 1px solid #ddd; 
    margin-top: 20px;  
    background-color: #fff;
    .container-heading {
        padding-top: 40px;
    }
}