.topbar-container {
    background-color: var(--primary);
    color: #fff;
    height: 58px;
    line-height: 58px;
    position: relative;
    z-index: 1;

    .topbar {
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        height: 58px;
        margin: auto;

        .left-topbar {
            align-items: center;
            display: flex;
            svg,
            span {
                margin-right: 5px;
            }
            svg {
                font-size: 18px;
            }
            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #282828;
                }
            }
            width: 50%;
        }

        .right-topbar {
            ul {
                align-items: center;
                display: flex;
                height: 58px;
                justify-content: flex-end;
                margin-bottom: 0;
                padding: 8px;
                li {
                    align-items: center;
                    display: flex;
                    list-style: none;
                    margin-left: 32px;
                    svg,
                    span {
                        margin-right: 5px;
                    }
                    svg {
                        font-size: 18px;
                    }
                }
                .search {
                    position: relative;
                    .search-box {
                        height: 74px;
                        opacity: 0;
                        padding: 12px 0;
                        position: absolute;
                        transition: opacity 0.3s ease, transform 0.3s ease;
                        transform: translateX(-55%);
                        form {
                            align-items: center;
                            background-color: #fff;
                            border: 1px solid #ddd;
                            border-radius: 20px;
                            display: flex;
                            height: 46px;
                            padding: 0 12px;
                            position: relative;
                            input {
                                &::before {
                                    background: url('https://th.bing.com/th/id/OIP.hGaetDAQWapgIJbIOhPhXwHaHa?pid=ImgDet&rs=1')
                                        no-repeat center;
                                    background-color: red;
                                    background-size: contain;
                                    content: '';
                                    display: inline-block;
                                    height: 20px;
                                    left: 15px;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 20px;
                                }
                                border: none;
                                height: 40px;
                                outline: none;
                                padding: 0 14px 0 14px;
                            }
                            button {
                                background-color: transparent;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                    &:hover {
                        .search-box {
                            opacity: 1;
                        }
                    }
                }
                .account {
                    cursor: pointer;
                    position: relative;
                    .login-dropdown {
                        background-color: #fff;
                        border: 1px solid #ddd;
                        box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
                        color: #000;
                        display: none;
                        left: 0;
                        min-width: 140px;
                        position: absolute;
                        top: 100%;
                        z-index: 1;

                        &:before {
                            border-bottom: 8px solid white;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            content: '';
                            left: 50%;
                            margin-left: -8px;
                            position: absolute;
                            top: -8px;
                            transform: rotate(0deg);
                        }
                        a {
                            --height: 40px;
                            display: block;
                            font-weight: 700;
                            height: var(--height);
                            line-height: var(--height);
                            padding: 0 12px;
                            text-align: center;
                            border-bottom: 1px solid #ddd;
                        }
                        button {
                            --height: 40px;
                            border: none;
                            color: #000;
                            display: block;
                            font-weight: 700;
                            height: var(--height);
                            line-height: var(--height);
                            width: 100%;
                            background-color: transparent;
                        }
                    }
                    &:hover {
                        .login-dropdown {
                            display: block;
                        }
                    }
                }
            }
            width: 100%;
        }
    }
}
